SampleApp.Services.Client/Service References/ServiceReference1/MicroServiceFeatureName.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.xyz.com/2016/03/Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xyz.com/2016/03/Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.xyz.com/2016/03/Services/Imports">
      <xsd:import schemaLocation="http://localhost/MicroServiceFeatureName?xsd=xsd0" namespace="http://www.xyz.com/2016/03/Services" />
      <xsd:import schemaLocation="http://localhost/MicroServiceFeatureName?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MicroServiceFeatureName?xsd=xsd2" namespace="http://www.xyz.com/2016/03/Services/Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISOAPTEMPLATEApi_GetSOAPHello_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSOAPHello" />
  </wsdl:message>
  <wsdl:message name="ISOAPTEMPLATEApi_GetSOAPHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSOAPHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEInternalApi_GetRESTInternalHello_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRESTInternalHello" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEInternalApi_GetRESTInternalHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRESTInternalHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_GetRESTExternalHello_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRESTExternalHello" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_GetRESTExternalHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRESTExternalHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_GetPagedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedUsers" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_GetPagedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_SaveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUser" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_SaveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_CopyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyUser" />
  </wsdl:message>
  <wsdl:message name="IRESTTEMPLATEExternalApi_CopyUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ISOAPTEMPLATEApi">
    <wsdl:operation name="GetSOAPHello">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/ISOAPTEMPLATEApi/GetSOAPHello" message="tns:ISOAPTEMPLATEApi_GetSOAPHello_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/ISOAPTEMPLATEApi/GetSOAPHelloResponse" message="tns:ISOAPTEMPLATEApi_GetSOAPHello_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRESTTEMPLATEInternalApi">
    <wsdl:operation name="GetRESTInternalHello">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEInternalApi/GetRESTInternalHello" message="tns:IRESTTEMPLATEInternalApi_GetRESTInternalHello_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEInternalApi/GetRESTInternalHelloResponse" message="tns:IRESTTEMPLATEInternalApi_GetRESTInternalHello_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRESTTEMPLATEExternalApi">
    <wsdl:operation name="GetRESTExternalHello">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/GetRESTExternalHello" message="tns:IRESTTEMPLATEExternalApi_GetRESTExternalHello_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/GetRESTExternalHelloResponse" message="tns:IRESTTEMPLATEExternalApi_GetRESTExternalHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/GetUsers" message="tns:IRESTTEMPLATEExternalApi_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/GetUsersResponse" message="tns:IRESTTEMPLATEExternalApi_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPagedUsers">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/GetPagedUsers" message="tns:IRESTTEMPLATEExternalApi_GetPagedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/GetPagedUsersResponse" message="tns:IRESTTEMPLATEExternalApi_GetPagedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/GetUser" message="tns:IRESTTEMPLATEExternalApi_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/GetUserResponse" message="tns:IRESTTEMPLATEExternalApi_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/SaveUser" message="tns:IRESTTEMPLATEExternalApi_SaveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/SaveUserResponse" message="tns:IRESTTEMPLATEExternalApi_SaveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/DeleteUser" message="tns:IRESTTEMPLATEExternalApi_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/DeleteUserResponse" message="tns:IRESTTEMPLATEExternalApi_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyUser">
      <wsdl:input wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/CopyUser" message="tns:IRESTTEMPLATEExternalApi_CopyUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.xyz.com/2016/03/Services/IRESTTEMPLATEExternalApi/CopyUserResponse" message="tns:IRESTTEMPLATEExternalApi_CopyUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>