SampleApp.Services.Client/Service References/ServiceReference1/MicroServiceFeatureName.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.xyz.com/2016/03/Services/Data" elementFormDefault="qualified" targetNamespace="http://www.xyz.com/2016/03/Services/Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserResponse" nillable="true" type="tns:UserResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserResponse" nillable="true" type="tns:ArrayOfUserResponse" />
  <xs:complexType name="UserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserResponse" nillable="true" type="tns:UserResponse" />
  <xs:complexType name="UserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRequest" nillable="true" type="tns:UserRequest" />
</xs:schema>